<%= render 'navbar' %>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-6 bg-left-edit">

    </div>
    <div class="col-lg-6 bg-right-edit">
      <h1> Edit Game Post </h1>
      <%= render 'form', post: @post %>
    </div>
  </div>
</div>

